@import '../mixin.scss';

header#landingPageHeader {

    @include header();

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-10px);
        }
    }

    .look-down {
        display: block;
        margin: 0 auto;
        width: 100%;
        position: absolute;
        top: 88%;
        text-align: center;
        color: #dcdcdc;
        z-index: 99;

        div {
            margin-top: -6px;
            animation: bounce 2.1s ease-in-out infinite both;

            svg {
                //transform: scale(5, 2);
            }
        }
    }

    @media (min-width: 813px) {
        .look-down {
            display: none;
        }
    }

    @import 'sun.scss';
}