@model arragro.com.ContentTypes.Pages.TileBulletPage
@{
    ViewData["Title"] = "Index";
}

@section header {
    <standard-header title=@Model.Title />
}

<div id="technologies">
    <div id="intro" class="container d-flex justify-content-center">
        <div class="col-12 col-md-12 col-lg-11 col-xl-12">
            @*<h3>@Model.Title</h3>*@
            <markdown markdown=@Model.IntroMarkdown></markdown>
        </div>
    </div>
    <div  class="container">
    @foreach (var tileBullet in Model.TileBullets)
    {
        <div class="technology-section row">
            <div class='col-12 col-lg-6 col-xl-4 align-self-center'>
                <cloud cloud=tileBullet index=0 />
            </div>
            <div class="col-12 col-lg-6 col-xl-8">
                <h3>@tileBullet.Name</h3>
                @Html.Raw(CommonMark.CommonMarkConverter.Convert(tileBullet.Markdown.Replace("&#xA;", "\n")))
            </div>
        </div>
    }
    </div>
</div>
