@model arragro.com.ContentTypes.Post.MarkdownPost

<div class="row">
    <div class="col-md-12">
        <h3>@Model.Title</h3>

        <p>
            <markdown markdown=Model.TechnologyMarkdown escape-html=true></markdown>
        </p>
    </div>
</div>