$blue: #4B7DC2;
$gray: #757575;
$lightGray: lighten($gray, 30%);
$lighterGray: lighten($gray, 50%);

@mixin transform-nav() {
    transition: transform .3s, color 1s, fill 1s;
}

@mixin transform-nav-grow($scale) {
    transform: scale($scale);
    /*transform: translateY(-8px) scale(1.05);*/
}

$timings: 60s, 74s, 68s, 77s, 66s, 83s, 86s, 91s, 100s;
$delays: 8s, 18s, 10s, 20s, 16s, 34s, 45s, 36s, 46s;
$start-timings: 50s, 64s, 58s, 47s;
$tops: 5%, 20%, 60%, 72%, 3%, 6%, 58%, 75%;
$starting-key-frames: animateCloud1-starting, animateCloud2-starting, animateCloud3-starting, animateCloud4-starting, animateCloud5-starting;
$key-frames: animateCloud1, animateCloud2, animateCloud3, animateCloud4, animateCloud5, animateCloud6, animateCloud7, animateCloud8, animateCloud9, animateCloud10;
$scales: 1.4, 1.3, 1.3, 1.4, 1.5, 1.3, 1.4, 1.5, 1.4, 1.3;


@mixin generate-cloud-starting-key-frames() {
    $animated-cloud-starting-key-frame-margins: 44%, 2%, 65%, 5%;

    @for $index from 1 through 4 {
        $margin: nth($animated-cloud-starting-key-frame-margins, $index);

        @keyframes animateCloud#{$index}-starting {
            0% {
                margin-left: $margin;
                opacity: 0;
            }

            1% {
                opacity: 1;
            }

            45% {
                opacity: 1;
            }

            70% {
                opacity: 0;
            }

            100% {
                //margin-left: 100%;
                transform: translateX(110%);
                opacity: 0;
            }
        }
    }
}

@mixin generate-cloud-key-frames() {
    $animated-cloud-key-frame-margins: -68%, -120%, -82%, -134%, -68%, -120%, -82%, -134%;

    @for $index from 1 through 8 {
        $margin: nth($animated-cloud-key-frame-margins, $index);
        $percentage: 65%;

        @if ($index > 5) {
            $percentage: 94%;
        }

        @keyframes animateCloud#{$index} {
            from {
                margin-left: -20%;
                display: none;
                opacity: 0;
            }

            5% {
                opacity: 1;
                display: block;
            }

            70% {
                opacity: 1;
            }

            90% {
                opacity: 0;
            }

            to {
                //margin-left: 100%;
                opacity: 0;
                transform: translateX(110%);
            }
        }
    }
}

@mixin get-cloud-animation($key-frame, $iteration-count, $timings, $index, $timing-multiplier: 1) {
    @if $iteration-count == null {
        animation: $key-frame nth($timings, $index) linear;
    }
    @else {
        animation: $key-frame nth($timings, $index) linear $iteration-count;
        animation-delay: nth($delays, $index);
    }
}

@mixin get-cloud($index, $key-frame, $iteration-count, $timings, $top, $scale, $z-index-start) {
    $z-index: 10 + $z-index-start + $index + 1;

    .cloud-wrapper-#{$index} {
        position: absolute;
        top: $top;
        opacity: 0;
        z-index: $z-index;
        /*
        height: 100%;
        width: 100%;
        @include get-cloud-animation($key-frame, $iteration-count, $timings, $index);
        animation-fill-mode: forwards;*/
    }

    .cloud-#{$index} {
        position: absolute;
        transform: scale($scale);
    }
}


@mixin generate-clouds ($iteration-count: null, $starting: false, $z-index-start: 1) {

    @if ($starting == true) {
        @for $index from 1 through 4 {
            @include get-cloud($index, nth($starting-key-frames, $index), $iteration-count, $start-timings, nth($tops, $index), nth($scales, $index), $z-index-start);
        }
    }
    @else {
        @for $index from 1 through 8 {
            @include get-cloud($index, nth($key-frames, $index), $iteration-count, $timings, nth($tops, $index), nth($scales, $index), $z-index-start);
        }
    }
}



@mixin header() {
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    height: 90vh;
    overflow: hidden;
    background: $blue;
    z-index: 1;

    .background-wrap {
        position: relative;
        //padding-top: 3rem;
        font: 100% Arial, Sans Serif;
        margin: 0;
        vertical-align: baseline;
        height: 95%;
        max-width: 1440px;
        margin: 0 auto;
        z-index: 1;

        .starting-clouds,
        .infinite-clouds {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
    /*@include generate-cloud-starting-key-frames();
      @include generate-cloud-key-frames();*/
    /*.starting-clouds {
        @include generate-clouds(null, true);
    }*/

    .infinite-clouds {
        @include generate-clouds(null, true);
        @include generate-clouds(infinite, false, 6);
    }

    .carousel-fade .carousel-item {
        opacity: 0;
        transition-duration: 3s;
        transition-property: opacity;
    }

    .carousel-fade .carousel-item.active,
    .carousel-fade .carousel-item-next.carousel-item-left,
    .carousel-fade .carousel-item-prev.carousel-item-right {
        opacity: 1;
    }

    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-right {
        opacity: 0;
    }

    .carousel-fade .carousel-item-next,
    .carousel-fade .carousel-item-prev,
    .carousel-fade .carousel-item.active,
    .carousel-fade .active.carousel-item-left,
    .carousel-fade .active.carousel-item-prev {
        transform: translateX(0);
        transform: translate3d(0, 0, 0);
    }

    .banner-text {
        height: 100%;
        position: relative;
        z-index: 1;

        #carousel-cloud-banner-text {
            height: 100%;
            text-align: center;
            word-break: normal;
            word-wrap: normal;
            color: white;
            font-size: 2vh;

            .carousel-inner {
                width: 80%;
                max-width: 1440px;
            }

            h1 {
                font-size: 1.8em;
                text-shadow: 2px 2px 8px darken($blue, 50%);
                z-index: 50;

                @media (orientation: landscape) {
                    font-size: 2.5em;
                }

                @media (orientation: landscape) and (min-width: 1024px) {
                    font-size: 2em;
                }
            }
        }
    }

    @media (orientation: landscape) {
        height: 81vh;
    }

    @media (min-width: 813px) {
        height: 75vh;
    }

    @media (min-width: 992px) {
        height: 75vh;
    }

    @media (min-width: 1440px) {
        height: 55vh;
    }
}

@mixin overrideHeaderMediaQueries($height) {


    @media (orientation: landscape) {
        height: $height;
    }

    @media (min-width: 813px) {
        height: $height;
    }

    @media (min-width: 992px) {
        height: $height;
    }

    @media (min-width: 1440px) {
        height: $height;
    }
}