@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import "mixin.scss";

body {
    color: darken($gray, 10%);
    padding-top: 4.8rem;
    font-size: 16px;
}

svg#ArragroLogo {
    width: 100%;
    height: 100%;
}

.navbar {
    padding: 0;
    background-color: lighten($gray, 50%);
    border-bottom: 1px solid lighten($gray, 30%);

    > .container {
        padding: .6rem 0;
    }

    .navbar-brand {
        font-size: 1.8rem;
        font-weight: 400;
        color: $gray;

        img {
            height: 50px;
            width: auto;
            margin-top: -.1rem;
        }

        &:focus, &:hover {
            color: $blue;
        }
    }

    .navbar-nav .nav-link {
        font-size: 1.4rem;
        font-weight: 400;
        color: $gray;

        &:focus, &:hover {
            color: $blue;
        }
    }
}

/*@media (min-width: 1024px) {
    body {
        padding-top: 3.8rem;
    }

    .navbar {
        > .container {
            padding: 0 0;
        }
    }
}*/

footer {
    border-top: 1px solid $lightGray;
    background-color: $lighterGray;
    padding: 3rem 0;

    a {
        color: $gray;

        &:focus, &:hover {
            .icon, .text {
                color: $blue;
                fill: $blue;
            }
        }
    }

    address ul {
        padding-left: 0;

        li {
            list-style: none;

            .contact {
                padding: 1rem;

                .icon {
                    width: 1.6rem;
                    fill: $gray;

                    svg {
                        font-size: 1.3rem;
                    }
                }

                .text {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
        padding-right: 10px;
        padding-left: 10px;
    }
}


@media (min-width: 992px) {
    .navbar-light {
        .navbar-brand {
            @include transform-nav();

            &:focus, &:hover {
                @include transform-nav-grow(1.05);
            }
        }

        .navbar-nav .nav-link {
            @include transform-nav();

            &:focus, &:hover {
                @include transform-nav-grow(1.05);
            }
        }
    }

    footer a {
        .icon, .text {
            @include transform-nav();
        }

        &:focus, &:hover {
            .icon, .text {
                @include transform-nav-grow(1.05);
            }
        }
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus {
        color: #495057;
        background-color: #fff;
        border-color: $blue;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba($blue,.25);
    }
}

@import './landing-page/mixin.scss';

#contactFormContainer {
    perspective: 1000px;
    position: relative;

    .flipper {
        width: 100%;
        max-height: 100%;
        transform-style: preserve-3d;
        transition: all .6s ease-in-out;
        visibility: visible;
        opacity: 1;
    }

    .front, .back {
        position: absolute;
        backface-visibility: hidden;
    }

    #contactForm {
        visibility: visible;
        opacity: 1;
        width: 100%;
        padding: 3rem 0;
        background: lighten($blue, 35%);
        border-top: 1px solid $lightGray;

        button {
            height: 60px;
            width: 100%;
            border-radius: 0;
            margin-top: -.7rem;
            background-color: $blue;

            &:hover {
                background-color: darken($blue, 20%);
            }
        }

        .g-recaptcha {
            margin-top: -.3rem;
        }
    }

    .flipper.flipped {
        transform: rotateX(180deg);
    }

    #sentMessage {
        width: 100%;
        overflow: hidden;
        visibility: visible;
        opacity: 1;
    }

    .back {
        transform: rotateX(180deg);
        text-align: center;
        background-color: darken($blue, 5%);
        color: white;
        text-shadow: 2px 2px 8px darken($blue, 50%);
    }

    .starting-clouds {
        @include generate-clouds(null, true);
    }
}


@import './landing-page/index.scss';
