@model arragro.com.ContentTypes.Pages.LandingPage


@section header {
    <header>
        <div id="background-wrap">

            <clouds clouds=Model.StartingClouds starting=true class-name="starting-clouds" />

            <clouds clouds=Model.InfiniteClouds class-name="infinite-clouds" />

            <cloud-banner-text cloud-banner-texts=Model.CloudBannerTexts class-name="banner-text" interval=6000 />

        </div>
    </header>
}


<div class="row">
    <div class="col-md-12">
        <p>@Html.Raw(@CommonMark.CommonMarkConverter.Convert(Html.Encode(Model.MarkdownIntro).Replace("&#xA;", "\n")))</p>
    </div>
</div>