<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <metadata content=ViewBag.Content site-name="Arragro" url="https://arragro.com" />

    <link rel="apple-touch-icon" sizes="180x180" href="//arragro-static-web.azureedge.net/public/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//arragro-static-web.azureedge.net/public/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//arragro-static-web.azureedge.net/public/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="//arragro-static-web.azureedge.net/public/images/favicon/manifest.json">
    <link rel="mask-icon" href="//arragro-static-web.azureedge.net/public/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">


    <environment names="Development">
        <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/main.css" asp-append-version="true" />
    </environment>

</head>
<body>

    <nav class="navbar navbar-expand-md fixed-top navbar-light">
        <div class="container">
            <a asp-area="" asp-controller="MarkdownPage" asp-action="Home" class="navbar-brand"><img src="~/images/svgs/ArragroLogoNew.svg" /> Arragro</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <menu view-context=Html.ViewContext />
            </div>
        </div>
    </nav>

    @RenderSection("header", required: false)

    @RenderBody()

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>Auckland Office:</h5>
                    <address>
                        <ul>
                            <li>
                                <a href="mailto:enquiries@arragro.com">
                                    <div class="contact d-flex flex-row">
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text">enquiries@arragro.com</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="tel:+08001231234">
                                    <div class="contact d-flex flex-row">
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="text">08001231234</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/dist/vendor.js"></script>
        <script src="~/dist/main.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/dist/vendor.js" asp-append-version="true"></script>
        <script src="~/dist/main.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
