@model ErrorPage
@{
    Layout = "_LayoutError";
}

@section header {
    <header id="errorPageHeader">
        <div class="background-wrap">

            <clouds starting-clouds=Model.StartingClouds infinite-clouds=Model.InfiniteClouds class-name="infinite-clouds" cloud-src="/images/svgs/cloud-shadow-grey.svg" />

            <cloud-banner-text cloud-banner-texts=Model.CloudBannerTexts class-name="banner-text" interval=6000 />

        </div>
    </header>
}