@model ErrorPage
@{
    Layout = "_LayoutError";
}

@section header {
    <header id="errorNotFoundPageHeader">
        <div id="background-wrap">

            <clouds clouds=Model.StartingClouds starting=true class-name="starting-clouds" cloud-src="/images/svgs/404.svg" />

            <clouds clouds=Model.InfiniteClouds class-name="infinite-clouds" cloud-src="/images/svgs/404.svg" />

            <cloud-banner-text cloud-banner-texts=Model.CloudBannerTexts class-name="banner-text" interval=6000 />

        </div>
    </header>
}