@{ 
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arragro Ltd - Boutique .Net Azure Solutions</title>
    <meta name="description" content="New Zealand based .Net Azure Specialists helping companies move to the cloud" />
    <meta name="keywords" content="Azure Architecture Deployment .Net ASP.Net MVC" />
    <meta property="og:site_name" content="Arragro Ltd" />
    <meta property="og:url" content="https://arragro.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="New Zealand base .Net Azure Specialists helping companies move to the cloud" />
    <meta property="og:title" content="Arragro Ltd - Boutique .Net Azure Solutions and Migrations" />
    <link rel="SHORTCUT ICON" href="//arragro-static-web.azureedge.net/public/images/favicon.ico" />
    <link rel="stylesheet" href="//arragro-static-web.azureedge.net/public/css/normalize.css" />
    <link rel="stylesheet" href="//arragro-static-web.azureedge.net/public/css/skeleton.css" />
    <link rel="stylesheet" href="//arragro-static-web.azureedge.net/public/css/site.css" />
</head>
<body>
    <div class="container">
        <header id="main" class="container">
            <div class="row">
                <div class="two columns">
                    <img id="logo" src="//arragro-static-web.azureedge.net/public/images/ArragroLogo.png" alt="Arragro Logo" />
                </div>
                <div class="ten columns">
                    <h1>Website coming soon!</h1>
                </div>
            </div>
        </header>
        <div class="coming-soon">
            <p>We are currently busy helping Balyeys.co.nz</p>
            <a href="https://bayleys.co.nz" target="_blank"><img src="//arragro-static-web.azureedge.net/public/images/bayleys-logo.png" alt="Bayleys.co.nz logo" /></a>
            <p>With their technology and business solutions</p>
        </div>
        <footer>
            <p>For any enquiries please email <a href="mailto: enquiries@arragro.com">enquiries@arragro.com</a> and we will be in touch as soon as we can</p>
        </footer>
    </div>
</body>
</html>
