**/*/bin
**/*/obj
**/*/out
**/*/temp
**/*/dist
**/*/App_Data
**/*/TestResults
**/*/.awcache
**/*/.config
**/*/.vscode
.dockerignore
.env
.git
.gitignore
.vs
.vscode
**/*/.toolstarget
**/*/wwwroot/dist
**/*/node_modules
**/*/App_Data
**/*/dist